.list-box {
    display: inline-block;
    padding: 20px;
    padding-bottom: 5px;
    margin: 8px;
    background-color: #c5c9df;
    border-radius: 8px;
}

.agaadiko {
    display: block;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.paxaadiko {
    display: block;
}


.iconpart {
    display: inline;
    cursor: pointer;
}

.rank-value {
    display: inline;
    font-size: 20px;
}

.rank-img {
    height: 200px;
    display: block;
    border-radius: 5px;
    border: 1px solid #542E71;
}